# Questions 1:
### How to import pandas and check the version?

In [3]:
import pandas as pd
print(pd.__version__)

1.0.1

# Questions 2:
### How to create a series from a numpy array?

In [9]:
import numpy as np
a = np.array([2,4,5,6,7,9])

s = pd.Series(a)
print(s)

0    2
1    4
2    5
3    6
4    7
5    9
dtype: int32

# Questions 3:
### How to convert the index of a series into a column of a dataframe?

In [11]:
import numpy as np
a = np.array([2,4,5,6,7,9])

s = pd.Series(a)
print(type(s))

d = s.to_frame()
print(type(d))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

# Questions 4:
### Write the code to list all the datasets available in seaborn library. Load the 'mpg' dataset
### Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the materials folder)

In [21]:
import seaborn as sb

a = sb.get_dataset_names()
b = pd.DataFrame(a)
print(b)

                 0
0         anagrams
1         anscombe
2        attention
3   brain_networks
4      car_crashes
5         diamonds
6             dots
7         exercise
8          flights
9             fmri
10          gammas
11          geyser
12            iris
13             mpg
14        penguins
15         planets
16            tips
17         titanic

In [22]:
mpg = sb.load_dataset('mpg')

In [24]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# Questions 5:
### Which country origin cars are a part of this dataset?

In [29]:
ori = mpg['origin'].unique()
ori

array(['usa', 'japan', 'europe'], dtype=object)

# Questions 6:
### Extract the part of the dataframe which contains cars belonging to 'usa'

In [32]:
mpg_usa = mpg['origin'] == 'usa'
usa = mpg[mpg_usa]

In [33]:
usa.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [34]:
usa['origin'].unique()

array(['usa'], dtype=object)